<div id="featured-list">
    <% @articles.each do |article| %>
        <article>
            <a href="<%= article_path(article) %>">
                <picture>
                    <img class="main-news_top_item_img" loading="lazy" src="<%= article.image_url %>">
                </picture>
            </a>
            <h5> <%= link_to article.title, article %></h5>
            <div>
                <span><%= format_datetime(article.published_at) %>&emsp;
                </span>
                <span class="no-break"><img src="https://tengrinews.kz/tengri_new/img/viewings.svg"> <%= article.views %></span>
                <%# Footer %>
            </div>
        </article>
    <% end %>
</div>
<div class="pagination">
    <%= paginate @articles %>
</div>
