<% content_for :articles_header do %>
    <div class="date">
        <%= format_datetime(@article.published_at) %>
    </div>
    <h1><%= @article.title %></h1>
    <hr class="green"><hr class="gray">
<% end %>
<% content_for :articles_content do %>
    <div id="article">
        <div class="stats">
            <img src="https://tengrinews.kz/tengri_new/img/circle-viewings.svg">
            <span><%= @article.views %></span>
            <%# Views & comms count & share %>
        </div>
        <div class="picture">
            <picture>
                <%# Picture %>
                <img class="main-news_top_item_img" loading="lazy" src="<%= @article.image_url %>
" alt="Фото: МЧС">
            </picture>
            <span><%= @article.thumb_caption %></span>
        </div>
        <div class="text">
            <h4><%= @article.tldr %></h4>
            <hr>
            <div id="article-text">
                <%# content %>
                <%= raw(@article.content) %>
            </div>
        </div>
    </div>
<% end %>
