<% content_for :articles_header do %>
    <div class="breadcrumb">
        <%= link_to "Главная |", "/" %> <%= @tag.name %>
    </div>
    <div class="title">
        <h1><%= @tag.name %></h1>
        <%= render 'tags_list', tags: @tags %>
    </div>
    <hr class="green"><hr class="gray">
<% end %>
<% content_for :articles_content do %>
    <div id="tag-articles-list">
        <% @articles.each do |article| %>
            <%= render 'article_item', article: article %>
        <% end %>
    </div>
    <div class="pagination">
        <%= paginate @articles %>
    </div>
<% end %>
