<!DOCTYPE html>
<html>
    <head>
        <title>TengriClone</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
        <%= javascript_importmap_tags %>
        <%= turbo_refreshes_with method: :morph, scroll: :preserve %>
        <%= yield :stylesheets %>
        <%= yield :metatags %>
    </head>
    <body>
        <%= render 'layouts/header' %>
        <%= content_for?(:main_content) ? yield(:main_content) : yield %>
        <!--<div class="notice"><%= notice %></div>
        <div class="alert"><%= alert %></div>-->
        <%= render 'layouts/footer' %>
        <%= yield :scripts %>
    </body>
</html>
