<!DOCTYPE html>
<html>
    <head>
        <title>TengriClone</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
        <%= javascript_importmap_tags %>
        <%= yield(:stylesheets) %>
    </head>
    <body>
        <%= render 'layouts/header' %>
        <%= content_for?(:main_content) ? yield(:main_content) : yield %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= render 'layouts/footer' %>
    </body>
</html>
