<% content_for :main_content do %>
    <header id="articles" class="container">
        <div class="menu bg-white">
            <div class="left">
                <div class="burger">
                    <div></div>
                </div>
                <a href="/">
                    <img src="https://tengrinews.kz/tengri_new/img/logo.svg" alt="TengriNews Logo">
                </a>
                <nav>
                    <%= link_to "Новости", news_category_path %>
                    <%= link_to "Статьи", articles_category_path %>
                    <%# <a href="/">Что будет с Казахстаном?</a> %>
                </nav>
            </div>
            <div class="right">
                <button>
                    <img src="https://tengrinews.kz/tengri_new/img/menu-lang.svg" alt="Language Switch">
                </button>
                <button id="search-button">
                    <img src="https://tengrinews.kz/tengri_new/img/menu-search.svg" alt="Search">
                </button>
            </div>
        </div>
        <a class="wp_link" href="https://whatsapp.com/channel/0029VaC8d1M3AzNVm4DlYk2H">
            <div>Подписывайтесь на канал Tengrinews.kz в WhatsApp</div>
            <img src="https://tengrinews.kz/tengri_new/img/urgent-button.svg" alt="Button">
        </a>
        <div id="search-container">
            <%= render 'searchbox' %>
        </div>
    </header>
    <div id="articles-layout" class="row container bg-white">
        <div id="articles-header">
            <%= yield(:articles_header) %>
        </div>
        <div id="articles-content">
            <%= content_for?(:articles_content) ? yield(:articles_content) : yield %>
        </div>
        <div id="side-feed">
            <%= sort_link(column: "published_at", label: "Последние", active:true) %>
            <%= sort_link(column: "views", label: "Популярные") %>
            <div id="side-feed-content">
                <%= turbo_frame_tag "feed", src: feed_articles_path(column: "published_at", direction: "desc") do %>
                <% end %>
            </div>
        </div>
    </div>
<% end %>
<% content_for :stylesheets do %>
    <%= stylesheet_link_tag "articles", "data-turbo-track": "reload" %>
<% end %>
<% content_for :scripts do %>
    <%= javascript_include_tag "feed", "search", "data-turbo-track": "reload" %>
<% end %>
<%= render template: 'layouts/application' %>
